{% extends 'base.html.twig' %}

{% block title %}Liste des intervenants{% endblock %}

{% block body %}
    <h1 class="mt-4">Intervenants</h1>
    <div class="mb-5">
        <hr />
    </div>
    {% for intervenant in intervenants  %}
        {# j'ai utilisé un card pour les intervenants link : https://getbootstrap.com/docs/4.5/components/card/#card-styles #}
        <div class="card text-white bg-secondary mb-3" >
            <div class="card-header lead">{{ intervenant.nickname }}</div>
            <div class="card-body">
                <p class="card-text">{{ intervenant.biographie }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
