{% extends 'base.html.twig' %}

{% block title %}Nouveau Intervenant{% endblock %}

{% block body %}
    <h1>Créer un nouvel intervenant</h1>

    {{ include('intervenant/_form.html.twig') }}

    <a href="{{ path('intervenant_index') }}">Revenir à la liste</a>
{% endblock %}
