<form class="mt-1" method="post" action="{{ path('programme_delete', {'id': programme.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer ce programme ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ programme.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
